In [6]:
# Imports
import os
import pandas as pd

In [7]:
# Explore the String original data
interactions = pd.read_csv('../../data/String/9606.protein.actions.v11.0.txt', sep='\t')

In [8]:
print(os.getcwd())

C:\git\MachineLearning\Project\InteractionsClassification\src\dataset

In [9]:
interactions.head()

,item_id_a,item_id_b,mode,action,is_directional,a_is_acting,score
0,9606.ENSP00000000233,9606.ENSP00000216366,binding,NaN,f,f,165
1,9606.ENSP00000000233,9606.ENSP00000216366,reaction,NaN,f,f,165
2,9606.ENSP00000000233,9606.ENSP00000216366,reaction,NaN,t,f,165
3,9606.ENSP00000000233,9606.ENSP00000216366,reaction,NaN,t,t,165
4,9606.ENSP00000000233,9606.ENSP00000222547,binding,NaN,f,f,913

In [20]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3470906 entries, 0 to 3470905
Data columns (total 7 columns):
item_id_a         object
item_id_b         object
mode              object
action            object
is_directional    object
a_is_acting       object
score             int64
dtypes: int64(1), object(6)
memory usage: 185.4+ MB

In [10]:
interactions['mode'].value_counts()

reaction      1587628
catalysis      907966
binding        676016
activation     167962
inhibition      60986
ptmod           47370
expression      22978
Name: mode, dtype: int64

In [12]:
interactions['is_directional'].value_counts()

t    2272988
f    1197918
Name: is_directional, dtype: int64

In [13]:
interactions['a_is_acting'].value_counts()

f    2334412
t    1136494
Name: a_is_acting, dtype: int64

In [14]:
interactions['action'].value_counts()

activation    168086
inhibition     72250
Name: action, dtype: int64

In [15]:
interactions['score'].value_counts()

900    767556
902    296492
901    109742
904     80728
156     71032
        ...
989         8
348         6
980         6
987         4
988         4
Name: score, Length: 845, dtype: int64

In [5]:
features = 

pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop, index=[('P84085', 'Q04912'), ('P84085', 'P08581'), ('P84085', 'Q8NFJ9')])
frame3

                  Nevada  Ohio
(P84085, Q04912)     NaN   NaN
(P84085, P08581)     NaN   NaN
(P84085, Q8NFJ9)     NaN   NaN